<head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
    />
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"></script>

<script type="text/javascript">
    function cliking () {
            console.log("werkeing")
        }
</script>

<div class="container" style="max-width: 95%; height: 100%; display: flex; flex-flow: column wrap; align-content:
    flex-start; border: 6px green dashed;">
{% if pics %}
    {% for i in pics %}
        {% if i.for_sale %}
            <p>For Sale</p>
        {% endif %}
    <a class="" href={{ i.url  }} 
       data-fancybox="gallery"
       data-caption="here is the captions {{ i.id }}"
       onclick="cliking()"
    >
        <img src="{{ i.url }}" style="height: 135; width: 240;">
    </a>
    {% endfor %}


{% else %}
<p>No images !!!!</p>
{% endif %}
</div>
</body>
