<head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
    />
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"></script>

<script type="text/javascript">

    function showCard(url) {
            console.log("This isi workingf.")
            FOTOMOTO.API.showWindow(FOTOMOTO.API.PRINT, url)
        };
    function showToolbar(url) {
            toolbarID = FOTOMOTO.API.showToolbar('toolbar_div', url)
        }

</script>

<div class="container" style="max-width: 95%; height: 100%; display: flex; flex-flow: column wrap; align-content: flex-start; border: 6px green dashed;">
{% if pics %}
    {% for i in pics %}
        {% if i.for_sale %}
    <a href={{ i.url  }}  onclick="showCard({{ i.url }})" data-fancybox="gallery" data-caption="here is the captions {{ i.id }}" style="border: dashed blue 5px;">

       <!--  <div style="background-image: url({{ i.url }}); height: 135; width: 240;"></div> -->
       <img src="{{ i.url }}" style="height: 135; width: 240;" onclick="showCard('{{ i.url }}')"/>
       <div id="toolbar_div" style="border: gray 7px dotted;"></div>

    </a>
        {% else %}
    <a class="" href={{ i.url  }} 
       data-fancybox="gallery"
       data-caption="here is the captions {{ i.id }}"
    >
    <img src="{{ i.url }}" style="height: 135; width: 240;"/>

    <!-- <div style="background-image: url({{ i.url }}); height: 135; width: 240;"></div> -->
    </a>
        {% endif %}
    {% endfor %}


{% else %}
<p>No images !!!!</p>
{% endif %}
</div>
<script type="text/javascript"
    src="//widget.fotomoto.com/stores/script/f5c3031c4d1e8f12edeb46a96cf6a7572e5ca4dc.js?api=true"></script>
<noscript>If Javascript is disabled in your browser, to place orders please visit the page where I <a href=' https://my.fotomoto.com/store/f5c3031c4d1e8f12edeb46a96cf6a7572e5ca4dc'>sell my photos</a>, powered by <a href='https://my.fotomoto.com'>Fotomoto</a>.</noscript>
</body>
